<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--
  <enyim.com>
    <memcached>
      <servers>
        <add address="localhost" port="11211" />
      </servers>
      <socketPool minPoolSize="5" maxPoolSize="20" connectionTimeout="00:00:10" deadTimeout="00:01:00" />
    </memcached>
  </enyim.com>
-->
  <appSettings>
    <add key="initialdatafile" value="db-import.xml" />
    <add key="migratedatafile" value="db-migrate.xml" />
    <add key="GillSoft.DataAccess.CacheProvider.Firebird" value="default" />
    <add key="GillSoft.DataAccess.ShowSql" value="false" />
    <add key="GillSoft.DataAccess.BackupFolder" value=".\Backups" />
    <add key="GillSoft.DataAccess.SerializeNHConfiguration" value="true" />
    <add key="MsSql.DatabaseServer" value=".\SQLEXPRESS" />
    <add key="MsSql.Database" value="GSSalesManager" />
    <add key="MsSql.DatabaseUser" value="" />
    <add key="MsSql.DatabasePassword" value="" />
    <add key="MySql.DatabaseServer" value="" />
    <add key="MySql.Database" value="GSSalesManager" />
    <add key="MySql.DatabaseUser" value="" />
    <add key="MySql.DatabasePassword" value="" />
    <add key="GillSoft.DataAccess.CacheProvider.Firebird" value="default" />
    <add key="GillSoft.DataAccess.UsePreparedSql" value="true" />
    <!--
    <add key ="GillSoft.DataAccess.Cache.ExpiryTimeSeconds" value="3600" />
    <add key ="GillSoft.DataAccess.CacheProvider.MsSql" value="none" />
    <add key ="GillSoft.DataAccess.CacheProvider.MySql" value="NHibernate.Caches.EnyimMemcached.MemCacheProvider, NHibernate.Caches.EnyimMemcached" />
    <add key ="GillSoft.DataAccess.CacheProvider.Firebird" value="default" />
    <add key ="GillSoft.DataAccess.ShowSql" value="false" />
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UseCustomFancyPaintingOverride" value="true" />
    <add key="GillSoft.DataAccess.KeyAutoCommentSql" value="false" />
    <add key="GillSoft.DataAccess.ShowFormattedSql" value="false" />
    <add key="GillSoft.DataAccess.MsSql.DefaultSchema" value="dbo" />
    <add key="LockUnlockTimerInterval" value="300" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender_NH" type="log4net.Appender.FileAppender">
      <file value="${TMP}\\log-file-nh-debug.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender_NH_SQL" type="log4net.Appender.FileAppender">
      <file value="${TMP}\\log-file-nh-sql.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender_NH_SQL_Buffered" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="1" />
      <lossy value="false" />
      <appender-ref ref="LogFileAppender_NH_SQL" />
    </appender>
    <appender name="GillSoft.Logging.General.Appender" type="log4net.Appender.FileAppender">
      <file value="${TMP}\\log-gillsoft-general.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <!-- priority value can be set to ALL|INFO|WARN|ERROR|DEBUG|FATAL -->
      <level value="ERROR" />
      <appender-ref ref="GillSoft.Logging.General" />
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender_NH" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender_NH_SQL_Buffered" />
    </logger>
    <logger name="GillSoft.Logging.General">
      <level value="DEBUG" />
      <appender-ref ref="GillSoft.Logging.General.Appender" />
    </logger>
  </log4net>
  <system.diagnostics>
    <sources>
      <source name="FirebirdSql.Data.FirebirdClient">
        <listeners>
          <clear abcd="test" />
          <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener" />-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="1System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
  </startup>
</configuration>